#back-link {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
}

select {
    max-width: fit-content;
}

table {
    font-size: 11px;
    border-radius: 5px;
    overflow: hidden;
}