{% from 'components.html' import alert %}

<!DOCTYPE html>
<html lang="en">

{% set css_files = ['bootstrap.min', 'style'] + css_files %}
{% set script_files = ['bootstrap.bundle.min'] + script_files %}
{% set page_title = page_title ~ ' | Baby Diet' %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% for css in css_files %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ css ~ '.css') }}">
    {% endfor %}
    <link rel="icon" href="{{ url_for('static', filename='img/bdl-icon.svg') }}">
    <title>{{ page_title }}</title>
</head>

<body class="container bg-body-secondary py-4">
    <header class="pb-2 mb-2">
        <div class="d-flex align-items-center text-body-emphasis text-decoration-none">
            <a href="{{ url_for('index') }}">
                <img class="me-2" id="logo-img" src="{{ url_for('static', filename='img/bdl-logo.svg') }}">
            </a>
            <span class="text-success" id="logo-title">
                <b>B</b>aby<b>D</b>iet
            </span>
        </div>
    </header>

    {{ alert() }}

    <main class="px-4 py-4 border-top border-success border-5 bg-white shadow">
        {% block page_content %}{% endblock %}
    </main>
    
    <footer class="pt-2 my-2 text-center">
        <span class="small-font-size text-body-secondary">
            <b>Baby Diet</b> por <a class="simple-link text-decoration-none" href="https://github.com/davidsantana06" target="_blank">David Santana.</a>
            Aplicação experimental.
        </span>
    </footer>

    {% for script in script_files %}
        <script src="{{ url_for('static', filename='js/' ~ script ~ '.js') }}"></script>
    {% endfor %}
</body>

</html>