{% from 'components.html' import download_btn, hospital_name, table_row %}
{% extends "base.html" %}

{% block page_content %}
    <section class="normal-font-size">
        <div class="pb-2">
            <a class="simple-link" id="back-link" href="{{ url_for('index') }}">
                <div class="d-flex align-items-center">
                    <svg class="normal-svg me-1" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
                    </svg>
                    <span class="me-1">Voltar</span>
                </div>
            </a>
        </div>
        <p>
            As etiquetas foram geradas com base na planilha fornecida. É importante ressaltar que, no caso de
            <strong>haver campos não preenchidos na referida planilha</strong>, estes foram desconsiderados.
        </p>
        <p class="mb-2">É possível baixar a relação de etiquetas no formato desejado através dos botões abaixo.</p>
        <div class="d-grid gap-2 d-md-block mb-4">
            {{ download_btn('success', 'excel', id, 'Excel') }}
            {{ download_btn('primary', 'word', id, 'Word') }}
        </div>
        {{ hospital_name() }}
    </section>
    
    <div class="border-bottom mb-3 mt-2"></div>

    <section>
        <div class="input-group mb-3">
            <input type="text" class="custom-form form-control form-control-sm shadow-none py-2" placeholder="Filtrar..." aria-label="Filtrar">
            <select class="custom-form form-select form-select-sm shadow-none py-2" aria-label="Opções">
                <option value="all">Todos</option>
                <option value="parent">{{ header[0] }}</option>
                <option value="sector">{{ header[1] }}</option>
                <option value="formula">{{ header[2] }}</option>
            </select>
            <button class="btn btn-success btn-sm" type="button" id="btn-search" aria-label="Pesquisar">
                <div class="d-flex align-items-center px-1">
                    <svg class="normal-svg" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </div>
            </button>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4" id="label-cards">
            {% set classes = ['parent-name', 'sector-name', 'formula-name', None, None, None] %}
            {% set labels = labels | default(['RN de', 'Setor do RN', 'Fórmula', 'Volume', 'Horario', 'Data']) %}
            {% for label in labels %}
                <div class="col">
                    <div class="card rounded">
                        <table class="table table-striped table-borderless align-middle mb-0">
                            <tbody>
                                {% for class in classes %}
                                    {% set i = loop.index - 1 %}
                                    {{ table_row(header[i], label[i], class) }}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}