{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert {{ 'alert-' ~ category }} alert-dismissible fade show {{ 'border-' ~ category ~ '-subtle' }} border-0 border-top border-bottom rounded-0 ps-4" role="alert">
                <span class="normal-font-size">{{ message | safe }}</span>
                <button class="btn-close shadow-none" type="button" data-bs-dismiss="alert" aria-label="Fechar"></button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}