<footer class="pt-2 my-2 text-center">
    <span class="small-font-size text-body-secondary">
        <b>Baby Diet</b> por <a class="simple-link text-decoration-none" href="https://github.com/davidsantana06" target="_blank">David Santana.</a>
        Aplicação experimental.
    </span>
</footer>