{% extends layout('base') %}

{% block title %}Início{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ css('index') }}">
{% endblock %}

{% block content %}
    <section class="normal-font-size">
        <div class="mb-4">
            <p>Para a geração de etiquetas, é importante observar e garantir os seguintes pontos:</p>
            <div class="mt-3">
                <strong>Formatação adequada</strong>
                <p>
                    Certifique-se de que o formato da planilha esteja em conformidade com o padrão pré-estabelecido.
                    Verifique se a estrutura da planilha está correta e atende aos requisitos necessários para a
                    geração das etiquetas.
                </p>
            </div>
            <div class="mt-3">
                <strong>Preenchimento correto</strong>
                <p>
                    É essencial preencher corretamente cada coluna presente na planilha. Verifique se todas as
                    informações necessárias estão inseridas de forma precisa e consistente, evitando erros ou
                    omissões que possam comprometer a geração das etiquetas.
                </p>
            </div>
            <div class="mt-3">
                <strong>Extensão do arquivo</strong>
                <p>
                    Verifique se a planilha está no formato correto para a leitura. É recomendado utilizar o formato
                    .xlsx, que é amplamente suportado e oferece recursos avançados. Certifique-se de que a planilha
                    esteja salva nesse formato para garantir uma leitura adequada e sem problemas.
                </p>
            </div>
            <div class="mb-3">
                <p>
                    Você pode realizar o download da planilha exemplo através do <a class="simple-link fw-semibold text-decoration-none" href="https://docs.google.com/spreadsheets/d/1_9kcPJ9HHtJ3H-ItmZz0HXXI8UttTTS_/edit?usp=sharing&ouid=100664231100239761893&rtpof=true&sd=true">Google Sheets</a>.
                </p>
            </div>
        </div>
        {% include inc('hospital-name') %}
    </section>
    <div class="border-bottom mt-2"></div>
    <section class="normal-font-size">
        <form action="{{ url_for('process_spreadsheet') }}" enctype="multipart/form-data" method="POST">
            <div class="my-4">
                <strong>Personalizar data</strong>
                <p class="mb-2">
                    Para personalizar a data referente à geração das etiquetas, altere o campo abaixo. Do contrário,
                    a data corrente será usada como base.
                </p>
                <input type="date" class="custom-form form-control form-control-sm shadow-none" id="date" name="date" value="{{ dt_now }}">
            </div>

            <div class="border-bottom"></div>

            <div class="text-center my-3 py-5">
                <div class="px-4 mb-3">
                    <span id="instruction-form">Selecione a planilha com as informações do(s) bebê(s).</span>
                </div>
                <button class="btn btn-success btn-sm p-0" type="button">
                    <label class="px-4 py-2" for="input-file">Selecionar arquivo</label>
                    <input id="input-file" name="spreadsheet" accept=".xlsx" type="file">
                </button>
            </div>
        </form>
    </section>
{% endblock %}

{% block script %}
    <script src="{{ js('form-events') }}"></script>
{% endblock %}